<h1>About Bloccit</h1>

<div class="about-container">

  <div class="social-cont">
    
    <div class="social-btn">
      <p> <%= link_to "Follow Me" , "https://twitter.com/chadac13", class: "social-btn" %> </p> 
    </div>


  </div>

</div> 
<p>Created by: <%= my_name %></p>