<h1> <%= @post.title %> </h1>
  <% if policy(@post).update? %>
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
  <% end %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= @post.body %> </p> 
      </h4> 
  </div>
</div> 
<%= link_to "Return to Posts", posts_path, class: 'btn btn-primary' %>