// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-container {
  position: absolute;
  top:10%;
  right: 2.5%;
  left: 2.5%;
  bottom: 5%;
}

.social-cont{
  position: absolute;
  top: 6.5%;
  right: 85%;
  left: 8%;
  bottom: 85%;
  border: solid 3px steel;
}

.social-btn {
  position: relative;
  vertical-align: middle;
  text-align: center;
  left: 10%;
  right: 60%;
  border-radius: 15%;
  background-color: #55ACEE;
  color: #292f33;
  padding: 2% 5% 2% 5%;
}